name: Integration Tests

on: pull_request

permissions:
  contents: read

jobs:
  integration-test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.1', '3.2', '3.3']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run Gitlab Triage in dry-run on a real project
        run: bundle exec gitlab-triage --dry-run --token $GITLAB_API_TOKEN --source project --source-id roland-release-management-playground --host-url https://gitlab.com --require 'support/triage_plugins.example.rb' --policies-file 'support/triage_policies.example.yml'
        env:
          GITLAB_API_TOKEN: "${{secrets.GITLAB_API_TOKEN}}"
